* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}


#container3D {
  
  inset: 0;
  z-index: 100;
  pointer-events: all;
 /* background-color: brown;*/
}